@model BookSite.Data.Entities.Cargo
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Panel/Home/Index">AnaSayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Panel/Book/Index">Kargo</a></li>
                    <li class="breadcrumb-item active">Kargo Şirketi Ekle</li>
                </ol>
            </div>
            <h4 class="page-title">Kargo Şirketi Bilgileri Ekleme</h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">

                    <label class="col-4 col-xl-3 col-form-label">Kargo Şirketi Adı</label>
                    <div class="col-8 col-xl-9">
                        <input type="text" id="CompanyName"  class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">Resim </label>
                    <div class="col-xl-6">
                        <div class="mb-3 mb-xl-0">
                            <input class="form-control" type="file" id="ImageFile">
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">Fiyatı</label>
                    <div class="col-8 col-xl-9">
                        <input type="text" id="Price"  class="form-control">
                    </div>
                </div>
                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" onclick="Create(this)" class="btn btn-success waves-effect waves-light">Kaydet</button>
                        <a href="/Panel/Cargo/Index" type="reset" class="btn btn-secondary waves-effect">İptal et</a>
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function Create(item) {
        var data = new FormData();
        var CompanyName = $("#CompanyName").val();
        var Price = $("#Price").val();
        data.append("CompanyName", CompanyName);
        data.append("Price", Price);
        var files = $("#ImageFile").get(0).files;
        if (files.length > 0) {
            data.append("ImageFile", files[0]);
        }


        if (CompanyName == "" || files.length == 0 || CashPrice == "" || CreditCardPrice == "") {
            Swal.fire(
                'Başarısız!',
                'Şirket adı,fiyatı ve resim  boş olamaz!',
                'error'
            )
        }
        else {
            $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                url: "/Panel/Cargo/CreateCargo",
                success: function (response) {
                    if (response == 0) {
                        Swal.fire(
                            'Başarılı!',
                            'Kargo şirketi eklendi.',
                            'success'
                        ).then(function () {
                            $(window).attr('location', '/Panel/Cargo/Index')
                        })
                    } else {
                        Swal.fire(
                            'Hata!',
                            'Resim formatında dosya seçiniz!',
                            'error'
                        ).then(function () {
                            $(window).attr('location', '/Panel/Cargo/CreateCargo')
                        })
                    }

                },

                error: function (data) {

                    swal.fire({
                        title: "Başarısız",
                        text: "Eklenemedi.",
                        icon: "error"
                    }).then(function () {
                        location.reload();
                    })
                }
            });
        }
    }
</script>
