
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Panel/Home/Index">AnaSayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Panel/Publisher/Index">Yayıncılar</a></li>
                    <li class="breadcrumb-item active">Yayıncı Ekle</li>
                </ol>
            </div>
            <h4 class="page-title">Yayıncı Ekleme</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">Yayıncı Adı*</label>
                    <div class="col-8 col-xl-9">
                        <input type="text" class="form-control" id="txtName">
                    </div>
                </div>
                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" onclick="Create(this)" class="btn btn-success waves-effect waves-light">Kaydet</button>
                        <a href="/Panel/Publisher/Index" type="reset" class="btn btn-secondary waves-effect">İptal et</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
    function Create(item) {
        var publisher = new Object();
        publisher.name = $("#txtName").val();

        if (publisher.name == "") {
            Swal.fire(
                'Başarısız!',
                'Yayıncı adı boş olamaz!',
                'error'
            )
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Panel/Publisher/Create",
                data: JSON.stringify(publisher),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    Swal.fire(
                        'Başarılı!',
                        publisher.name + '  adlı yayıncı eklendi.',
                        'success'
                    ).then(function () {
                        $(window).attr('location', '/Panel/Publisher/Index')
                    })
                },

                error: function (data) {

                    swal.fire({
                        title: "Başarısız",
                        text: "Eklenemedi.",
                        icon: "error"
                    }).then(function () {
                        location.reload();
                    })
                }
            });
        }
    }
</script>




