
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Panel/Home/Index">AnaSayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Panel/PaymentType/Index">Ödeme Seçenekleri</a></li>
                    <li class="breadcrumb-item active">Ödeme Seçenekleri Ekle</li>
                </ol>
            </div>
            <h4 class="page-title">Ödeme Seçenekleri Ekleme</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">Başlık*</label>
                    <div class="col-8 col-xl-9">
                        <input type="text" class="form-control" id="txtHeader">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">İçerik</label>
                    <div class="col-8 col-xl-9">
                        <textarea type="text" id="txtContent" style="height:200px" class="form-control"></textarea>
                    </div>
                </div>
                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" onclick="Create(this)" class="btn btn-success waves-effect waves-light">Kaydet</button>
                        <a href="/Panel/PaymentType/Index" type="reset" class="btn btn-secondary waves-effect">İptal et</a>
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div>
    </div>
</div>

<script>
    function Create(item) {
        var Header = $("#txtHeader").val();
        var Content = $("#txtContent").val();
        if (Header == "" ) {
            Swal.fire(
                'Başarısız!',
                'Başlık boş olamaz!',
                'error'
            )
        }
        else {
            $.ajax({
                async: true,
                type: "POST",
                contentType: false,
                processData: false,
                data: Header,
                dataType: 'json',
                url: '/Panel/PaymentType/Create?Header=' + Header + '&Content=' + Content ,
                success: function (data) {
                    Swal.fire(
                        'Başarılı!',
                        'Eklendi.',
                        'success'
                    ).then(function () {
                        $(window).attr('location', '/Panel/PaymentType/Index')
                    })
                },

                error: function (data) {

                    swal.fire({
                        title: "Başarısız",
                        text: "Eklenemedi.",
                        icon: "error"
                    });
                }
            });
        }
    }
</script>
