@model BookSite.Data.Entities.Book_Stock
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";

    BookSite.Data.Context.DataContext db = new BookSite.Data.Context.DataContext();


    var books = db.Books.ToList();
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Panel/Home/Index">AnaSayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Panel/Book_Stock/Index">Kitap-Stok</a></li>
                    <li class="breadcrumb-item active">Kitap-Stok Ekle</li>
                </ol>
            </div>
            <h4 class="page-title">Kitap-Stok Ekleme</h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <label  class="col-4 col-xl-3 col-form-label">Kitap Adı</label>
                    <div class="col-8 col-xl-9">
                        <div class='exampleSearch'>
                            <select id="Name">
                                <option>Kitap seçiniz</option>
                                @foreach (var item in books)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-4 col-xl-3 col-form-label">Stok </label>
                    <div class="col-8 col-xl-9">
                        <input type="text" class="form-control" id="Stock">
                    </div>
                </div>
                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" onclick="Create(this)" class="btn btn-success waves-effect waves-light">Kaydet</button>
                        <a href="/Panel/Book_Stock/Index" type="reset" class="btn btn-secondary waves-effect">İptal et</a>
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function Create(item) {
        var bookid = $("#Name").val();
        var stock = $("#Stock").val();


        if (bookid == "Kitap seçiniz." || stock == "") {
            Swal.fire(
                'Başarısız!',
                'Kitap adı ve Stok  boş olamaz!',
                'error'
            )
        }
        else {
            $.ajax({
                async: true,
                type: "POST",
                contentType: false,
                processData: false,
                data: bookid,
                dataType: 'json',
                url: '/Panel/Book_Stock/Create?bookid=' + bookid + '&stock=' + stock,
                success: function (data) {
                        Swal.fire(
                            'Başarılı!',
                            'Kitap-Stok Eklendi',
                            'success'
                        ).then(function () {
                            $(window).attr('location', '/Panel/Book_Stock/Index')
                        })
                    
                },

                error: function (data) {

                    swal.fire({
                        title: "Başarısız",
                        text: "Eklenemedi.",
                        icon: "error"
                    }).then(function () {
                        location.reload();
                    })
                }
            });
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#Name').selectize();
    });
</script>